<html>
<head>
  <meta name="viewport" content="width=device-width,
                                       initial^scale=1">
<meta charset="UTF-8">
<title>メールフィルタ</title>
</head>
<body>
<h1>メール分類機</h1>
<p>
<h3>このページではメールをスパムメールかどうかを判定してくれます。</h3>
<br><br>
<form action="" method="get">
<select name="database">
  <option>使用する教師データベースを選ぶ</option>
  <option value="database/training_mail_filter.db">
  training_article_data.db
  </option>
  <!--追加: <option value="database/new.db">new.db</option> -->
</select>
  <br>メール本文:<input type="text" name="content">
　<br><br>
  <button type="submit">Enter</button>
　<button type="reset">delete</button>
</form></p>
{% if kekka %}
  このメールは "{{kekka}}" です。
{% endif %}
</body>
</html>
